:root {
    --base-color: #252525;
    --font-color: #cccccc;
    --top-color: #303030;
}

body {
    background-color: var(--base-color);
    color: var(--font-color);
    font-family: 'Share Tech', sans-serif;
}

h1 {
    font-size: 40px;
}

ul {
    list-style: none; 
    margin-top: 0; 
    margin-bottom: 0px;
    padding-left: 0;
}

input[type="radio"] {
    margin-top: -1px;
    vertical-align: middle;
    }

input[type="checkbox"] {
    margin-top: 2px;
    vertical-align: middle;
    }

#title {
    margin: 30px auto 30px;    
    text-align: center;    
    text-transform: uppercase;
}

#main-section {
    background: var(--top-color);
    margin: auto auto 30px;
    border: solid 2px var(--font-color);
    border-radius: 15px 50px;
    max-width: 900px;
    height: auto;
    padding-bottom: 30px;
}

#description {
    text-align: center;
    margin-bottom: 40px;
}

#survey-form {    
    padding: 1px;    
}

#name {
    padding: 2px;
    width: 160px;
       
}

#email {
    padding: 2px;
    width: 160px;
}

#number{
    padding: 2px;
    width: 160px;
    }

#form-area{
    max-width: 600px;
    margin: auto;
}

#name-label{
    padding: 1px;
}
#email-label{
    padding: 1px;
}
#number-label{
    padding: 1px;
}

#dropdown{
    padding: 1px;
    width: 168px;
}

#comments {
    width: 230px;
    height: 100px;
    text-align: top;
    resize: vertical;
}

#submit {
    margin: auto;
    text-align: center;
    
}

.row-element {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    padding: 5px;
    
       
}

@media (min-width: 415px) {
    .right-tab {
        padding-left: 2px;
        width: 45%;
                             
    }

    .left-tab {        
        padding-right: 20px;
        width: 30%;        
        text-align: right;
        
    }
}

@media (max-width: 415px) {
    .right-tab {
        padding: 5px;
        width: 65%;                
    }

    .left-tab {
        padding: 5px;
        width: 65%;                
    }
}

